.cuadro-principal{
	  
    /*-fx-background-color: #1d1d1d ;*/
      
 -fx-base: rgba(50.0, 50.0, 50.0,0.5);
-fx-background: rgba(50.0, 50.0, 50.0,0.5);
-fx-control-inner-background:  rgba(50.0, 50.0, 50.0,0.5);
 
      
-fx-background-color: transparent;
}

.botones{
	-fx-background-color: transparent;
}

.tablas {
-fx-table-cell-border-color:derive(-fx-base,10.0%);
-fx-table-header-border-color:derive(-fx-base,20.0%);
}